.ahhar-main-dashboard {
  .dashboard-collection {
    display: flex;
    flex-flow: row wrap;
    .card {
      max-width: 260px;
      margin: 8px;
    }
  }
  .search-section {
    display: flex;
    justify-content: center;
    .search-loc {
      max-width: 400px;
    }
  }
}
