.ahaar-header {
  .container {
    display: flex;
    align-items: center;
    .branding {
      a.logo-link {
        max-width: 12.923em;
        padding-bottom: 5px;
        display: block;
        img {
          height: auto;
          max-width: 100%;
          width: 100%;
        }
      }
    }
    .main-navigation {
      background-color: transparent;
      flex: 1;
      ul {
        display: flex;
        list-style: none;
        li {
          a {
            padding: 0.867em 0.633em;
          }
        }
      }
    }
    .main-navigation-right {
      ul {
        display: flex;
        list-style: none;
        li {
          margin-right: 10px;
        }
      }
    }
  }
}
